<footer class="main-footer">
  <div class="footer-left">
    Copyright &copy; 2021
    <div class="bullet"></div>
    Project By <a href="https://nauval.in/">Team Maria</a>
  </div>
  <div class="footer-right">2.3.0</div>
</footer>
