<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">Smart System</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">Ss</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link has-dropdown"
          ><i class="fas fa-fire"></i><span>Dashboard</span></a
        >
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="index-0.html">General Dashboard</a></li>
          <li><a class="nav-link" href="index.html">Ecommerce Dashboard</a></li>
        </ul>
      </li>
      <li class="menu-header">Renata</li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="far fa-user"></i> <span>Customer Fleet</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="far fa-gem"></i> <span>Customer First Class</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-calendar-check"></i> <span>Next Service</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-tools"></i> <span>Booking Service</span>
        </a>
      </li>
      <li class="menu-header">Selena</li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="far fa-newspaper"></i> <span>E-News</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-book-open"></i> <span>Toyota How</span>
        </a>
      </li>
      <li class="menu-header">master</li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-user-friends"></i> <span>User Account</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-user-alt"></i> <span>Customer</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-car-alt"></i> <span>Cars</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-file-archive"></i> <span>Progress Status</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-file"></i> <span>Job History</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="#">
          <i class="fas fa-ad"></i> <span>Promotion</span>
        </a>
      </li>
    </ul>

    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a
        href="https://getstisla.com/docs"
        class="btn btn-danger btn-lg btn-block btn-icon-split"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  </aside>
</div>
