<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/">
        <img
          src="/assets/img/logoatkuta.png"
          alt=""
          class="img-responsive"
          width="90px"
        />
      </a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/">Ss</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">MENU</li>
      <li class="">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fire"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="/enews">
          <i class="far fa-newspaper"></i> <span>E-News</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link" href="/toyotahow">
          <i class="fas fa-book-open"></i> <span>Toyota How</span>
        </a>
      </li>
      <li class="">
        <a class="nav-link disabled" href="/toyotahow">
          <i class="fas fa-trophy"></i> <span>Reward <i class="text-danger">soon</i></span>
        </a>
      </li>
    </ul>

    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a
        href="<%= process.env.URL %>/auth/logout"
        class="btn btn-danger btn-lg btn-block btn-icon-split"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  </aside>
</div>
