<div class="main-sidebar">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/">
        <img src="/assets/img/logoatkuta.png" alt="" class="img-responsive" width="90px" />
      </a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">Ss</a>
    </div>
    <ul class="sidebar-menu">
      <% if(auth.level=='USER' ){ %>
        <li class="menu-header">MENU</li>
        <li class="">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-fire"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="">
          <a class="nav-link" href="/enews">
            <i class="far fa-newspaper"></i> <span>E-News</span>
          </a>
        </li>
        <li class="">
          <a class="nav-link" href="/toyotahow">
            <i class="fas fa-book-open"></i> <span>Toyota How</span>
          </a>
        </li>
        <li class="">
          <a class="nav-link disabled" href="/toyotahow">
            <i class="fas fa-trophy"></i> <span>Reward <i class="text-danger">soon</i></span>
          </a>
        </li>
        <% } %>
        <% if(auth.level=='ADMIN' ){ %>
          <li class="menu-header">MENU</li>
            <li class="">
              <a class="nav-link" href="/admin/dashboard">
                <i class="fas fa-fire"></i> <span>Dashboard</span>
              </a>
            </li>
            <li class="menu-header">Renata</li>
            <li class="">
              <a class="nav-link" href="/custfirst/customer">
                <i class="far fa-gem"></i> <span>Customer First Class</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="/custfirst/fleet">
                <i class="far fa-gem"></i> <span>Fleet First Class</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="/nextservice">
                <i class="fas fa-calendar-check"></i> <span>Next Service</span>
              </a>
            </li>
            <li class="menu-header">Selena</li>
            <li class="">
              <a class="nav-link" href="/enews">
                <i class="far fa-newspaper"></i> <span>E-News</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="/toyotahow">
                <i class="fas fa-book-open"></i> <span>Toyota How</span>
              </a>
            </li>
            <li class="menu-header">master</li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-user"></i><span>Account</span></a>
              <ul class="dropdown-menu">
                <li class="">
                  <a class="nav-link" href="#">
                    <span>Employe Account</span>
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="/customer">
                    <span>Customer Account</span>
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="/custfleet">
                    <span>Customer Fleet</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link has-dropdown"><i class="fas fa-database"></i><span>Database</span></a>
              <ul class="dropdown-menu">
                <li class="">
                  <a class="nav-link" href="/custfirst/fs">
                    <span>Database Fist Class</span>
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="/cars">
                    <span>Cars</span>
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="<%= process.env.URL %>/progress-status/import">
                    <span>Progress Status</span>
                  </a>
                </li>
                <li class="">
                  <a class="nav-link" href="<%= process.env.URL %>/job-history/import">
                    <span>Job History</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="">
              <a class="nav-link" href="/promotion">
                <i class="fas fa-calendar-check"></i> <span>Promotion</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="/enews/input">
                <i class="fas fa-newspaper"></i> <span>E-News</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="/toyotahow/input">
                <i class="fas fa-book-open"></i> <span>ToyotaHow</span>
              </a>
            </li>
            <li class="">
              <a class="nav-link" href="/whatsapp">
                <i class="fas fa-comments"></i> <span>Whatsapp</span>
              </a>
            </li>
            <% } %>
          </ul>
              <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
                <a href="<%= process.env.URL %>/auth/logout" class="btn btn-danger btn-lg btn-block btn-icon-split">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
  </aside>
</div>